.explore {
    padding-top: 110px;
    text-align: center;
}

.explore-pre-title {
    margin-bottom: 21px;
    line-height: calc(21 / 18);
    color: var(--second-text-color);
}

.explore-link {
    display: block;
    margin: 0 auto;
    margin-bottom: 116px;
    width: 78px;
    margin-top: 28px;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--second-text-color);
    border-bottom: 1px solid var(--second-text-color);
    transition: var(--animation);

    &:hover, &:focus {
    color: var(--link-hover);
    border-color: var(--link-hover);
    }
}

.explore-title {
    margin: 0 auto;
    margin-bottom: 78px;
    margin-bottom: 44px;
    max-width: 729px;
    font-size: 50px;
    line-height: 60px;
    color: var(--second-text-color);
}

.explore-after-title {
    margin: 0 auto;
    max-width: 736px;
    line-height: calc(25 / 18);
    color: var(--second-text-color);
}

.explore-button {
    margin-top: 78px;
    padding: 17px 37px 21px 37px;
    font-size: 14px;
    line-height: calc(14 / 14);
    text-align: center;
    letter-spacing: 0.11px;
    text-transform: uppercase;
    color: inherit;
    background-color: var(--link-hover);
    border-color: transparent;
    transition: var(--animation);

    &:hover, &:focus {
    background-color: var(--button-hover);
    }
}

.explore-image-wrapper {
    padding-left: 256px;
    padding-right: 256px;
}